<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>FoodZone Recommendation</title>

<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="keywords" content="">
<meta name="description" content="">
<!--

Template 2076 FoodZoneRec

http://www.tooplate.com/view/2076-FoodZoneRec

-->
<!-- <script type="text/javascript">
$.fn.serializeObject = function()
{
    var o = {};
    var a = this.serializeArray();
    $.each(a, function() {
        if (o[this.name] !== undefined) {
            if (!o[this.name].push) {
                o[this.name] = [o[this.name]];
            }
            o[this.name].push(this.value || '');
        } else {
            o[this.name] = this.value || '';
        }
    });
    return o;
};

$(function() {
    $('form').submit(function() {
        $('#result').text(JSON.stringify($('form').serializeObject()));
        return false;
    });
});
</script>
 -->
<link rel="stylesheet" href="static/css/bootstrap.min.css">
<link rel="stylesheet" href="static/css/animate.min.css">
<link rel="stylesheet" href="static/css/font-awesome.min.css">
<link rel="stylesheet" href="static/css/nivo-lightbox.css">
<link rel="stylesheet" href="static/css/nivo_themes/default/default.css">
<link rel="stylesheet" href="static/css/style.css">
<link href='https://fonts.googleapis.com/css?family=Roboto:400,500'
	rel='stylesheet' type='text/css'>
</head>
<body>

	<!-- preloader section -->
	<section class="preloader">
		<div class="sk-spinner sk-spinner-pulse"></div>
	</section>

	<!-- navigation section -->
	<section class="navbar navbar-default navbar-fixed-top"
		role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button class="navbar-toggle" data-toggle="collapse"
					data-target=".navbar-collapse">
					<span class="icon icon-bar"></span> <span class="icon icon-bar"></span>
					<span class="icon icon-bar"></span>
				</button>
				<a href="#" class="navbar-brand">FoodZoneRec</a>
			</div>
			<div class="collapse navbar-collapse">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="#home" class="smoothScroll">HOME</a></li>
					<li><a href="#contact" class="smoothScroll">TRY THE MODEL</a></li>
					<!-- 				<li><a href="#menu" class="smoothScroll">SPECIAL MENU</a></li>
				<li><a href="#team" class="smoothScroll">CHEFS</a></li>
 -->
					<li><a href="#contact" class="smoothScroll">CONTACT</a></li>
				</ul>
			</div>
		</div>
	</section>


	<!-- home section -->
	<section id="home" class="parallax-section">
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-sm-12">
					<h1>let us help you</h1>
					<h2>Figure out your new Food Business Location</h2>
					<a href="#contact" class="smoothScroll btn btn-default">Enter
						Business Preferences</a>
				</div>
			</div>
		</div>
	</section>


	<!-- gallery section -->
	<section id="gallery" class="parallax-section">
		<div class="container">
			<div class="row">
				<div class="col-md-offset-2 col-md-8 col-sm-12 text-center">
					<h1 class="heading"> Metropolitan Areas Analyzed</h1>
					<hr>
				</div>
				<div class="col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="0.3s">
					<a href="static/images/lvnb_banner.0.jpg"
						data-lightbox-gallery="zenda-gallery"><img
						src="static/images/lvnb_banner.0.jpg" alt="gallery img"></a>
					<div>
						<h3>Las Vegas, NV</h3>
						<span>Main city</span>
					</div>

					<a href="static/images/Phoenix1.jpg" data-lightbox-gallery="zenda-gallery"><img
						src="static/images/Phoenix1.jpg" alt="gallery img"></a>
					<div>
						<h3>Phoenix, AZ</h3>
						<span>Main city</span>
					</div>

				</div>
				<div class="col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="0.6s">

					<a href="static/images/Henderson.jpg"
						data-lightbox-gallery="zenda-gallery"><img
						src="static/images/Henderson_new.jpg" alt="gallery img"></a>
					<div>
						<h3>Henderson, NV</h3>
						<span>Outskirts of Las Vegas</span>
					</div>

					<a href="static/images/Scottsdale_waterfront.jpg"
						data-lightbox-gallery="zenda-gallery"><img
						src="static/images/scottsdale.jpg" alt="gallery img"></a>
					<div>
						<h3>Scottsdale, AZ</h3>
						<span>Outskirts of Phoenix</span>
					</div>

				</div>
				<div class="col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="0.9s">
					<a href="static/images/tempe-arizona.jpg"
						data-lightbox-gallery="zenda-gallery"><img
						src="static/images/tempe_resized.jpg" alt="gallery img"></a>
					<div>
						<h3>Tempe, AZ</h3>
						<span>Outskirts of Phoenix</span>
					</div>

					<a href="static/images/Glendale-AZ.jpg"
						data-lightbox-gallery="zenda-gallery"><img
						src="static/images/Glendale_resized.jpg" alt="gallery img"></a>
					<div>
						<h3>Glendale, AZ</h3>
						<span> Outskirts of Phoenix</span>
					</div>

				</div>
			</div>
		</div>
	</section>


	<!-- menu section 
<section id="menu" class="parallax-section">
	<div class="container">
		<div class="row">
			<div class="col-md-offset-2 col-md-8 col-sm-12 text-center">
				<h1 class="heading">Special Menu</h1>
				<hr>
			</div>
			<div class="col-md-6 col-sm-6">
				<h4>Lemon-Rosemary Vegetable ................ <span>$20.50</span></h4>
				<h5>Chicken / Rosemary / Lemon</h5>
			</div>
			<div class="col-md-6 col-sm-6">
				<h4>Lemon-Rosemary Meat ........................... <span>$30.50</span></h4>
				<h5>Meat / Rosemary / Lemon</h5>
			</div>
			<div class="col-md-6 col-sm-6">
				<h4>Lemon-Rosemary Pork ........................ <span>$40.75</span></h4>
				<h5>Pork / Tooplate / Lemon</h5>
			</div>
			<div class="col-md-6 col-sm-6">
				<h4>Orange-Rosemary Salad .......................... <span>$55.00</span></h4>
				<h5>Salad / Rosemary / Orange</h5>
			</div>
			<div class="col-md-6 col-sm-6">
				<h4>Lemon-Rosemary Squid ...................... <span>$65.00</span></h4>
				<h5>Squid / Rosemary / Lemon</h5>
			</div>
			<div class="col-md-6 col-sm-6">
				<h4>Orange-Rosemary Shrimp ........................ <span>$70.50</span></h4>
				<h5>Shrimp / Rosemary / Orange</h5>
			</div>
			<div class="col-md-6 col-sm-6">
				<h4>Lemon-Rosemary Prawn ................... <span>$110.75</span></h4>
				<h5>Chicken / Rosemary / Lemon</h5>
			</div>
			<div class="col-md-6 col-sm-6">
				<h4>Lemon-Rosemary Seafood ..................... <span>$220.50</span></h4>
				<h5>Seafood / Rosemary / Lemon</h5>
			</div>
		</div>
	</div>
</section>		
-->

	<!-- team section 
<section id="team" class="parallax-section">
	<div class="container">
		<div class="row">
			<div class="col-md-offset-2 col-md-8 col-sm-12 text-center">
				<h1 class="heading">Meet FoodZoneRec chefs</h1>
				<hr>
			</div>
			<div class="col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="0.3s">
				<img src="static/images/team1.jpg" class="img-responsive center-block" alt="team img">
				<h4>Thanya</h4>
				<h3>Main Chef</h3>
			</div>
			<div class="col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="0.6s">
				<img src="static/images/team2.jpg" class="img-responsive center-block" alt="team img">
				<h4>Lynda</h4>
				<h3>Pizza Specialist</h3>
			</div>
			<div class="col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="0.9s">
				<img src="static/images/team3.jpg" class="img-responsive center-block" alt="team img">
				<h4>Jenny Ko</h4>
				<h3>New Baker</h3>
			</div>
		</div>
	</div>
</section>
-->

	<!-- contact section -->
	<section id="contact" class="parallax-section">
		<div class="container">
			<div class="row">
				<div class="col-md-offset-1 col-md-10 col-sm-12 text-center">
					<h1 class="heading">Enter Business Preferences here:</h1>
					<hr>
				</div>
				<div class="col-md-offset-1 col-md-10 col-sm-12 wow fadeIn"
					data-wow-delay="0.9s">
<!-- 					<form action="static/map/the_zip_map.html" method="get">
 -->
 					<form action="predict" method='GET' enctype='text/plain'>	
 					<div class="col-md-6 col-sm-6">
							<select name="category" class="form-control" id="category"
								multiple="multiple">
								<option disabled selected value> -- Categories (multi-select) -- </option>
								<option selected value="Restaurants">Restaurants</option>
								<option value="Bars">Bars</option>
								<option value="Coffee & Tea">Coffee & Tea</option>
								<option value="Adult Entertainment">Adult Entertainment</option>
								<option value="Chinese">Chinese</option>
							</select>
						</div>
						<div class="col-md-6 col-sm-6">
							<select name="AgesAllowed" class="form-control" id="AgesAllowed">
								<option disabled selected value> -- Target Customers -- </option>
								<option value="18plus">18 and over</option>
								<option value="21plus">21 and over</option>
								<option value="allages">allages</option>
							</select>
						</div>
						<!-- 						<div class="col-md-6 col-sm-6">
							<select id="example-getting-started" multiple="multiple">
								<option value="cheese">Cheese</option>
								<option value="tomatoes">Tomatoes</option>
								<option value="mozarella">Mozzarella</option>
								<option value="mushrooms">Mushrooms</option>
								<option value="pepperoni">Pepperoni</option>
								<option value="onions">Onions</option>
							</select> placeholder="Email">
						</div>
 -->
						<div class="col-md-6 col-sm-6">
							<select id="Smoking" class="form-control" name="Smoking">
								<option disabled selected value> -- Smoking Allowed -- </option>
								<option value="yes">Yes</option>
								<option value="no">No</option>
								<option value="outdoor">Outdoor</option>
							</select>
						</div>
						<div class="col-md-6 col-sm-6">
							<select id="BusinessParking" class="form-control" name="BusinessParking">
								<option disabled selected value> -- Business Parking -- </option>
								<option value="valet">Valet</option>
								<option value="lot">Lot</option>
								<option value="garage">Garage</option>
								<option value="street">Street</option>
								<option value="validated">Validated</option>
							</select>
						</div>
						<div class="col-md-6 col-sm-6">
							<select id="Smoking" class="form-control" name="Alcohol">
								<option disabled selected value> -- Alcohol service -- </option>
								<option value="outdoor">Not served</option>
								<option value="yes">full bar</option>
								<option value="beer_and_wine">Beer and Wine</option>
							</select>
						</div>
						<div class="col-md-offset-3 col-md-6 col-sm-offset-3 col-sm-6">
							<input type="submit" class="form-control" id="submit"
								value="See recommended locations">
						</div>
					</form>
				</div>
				<div class="col-md-2 col-sm-1"></div>
			</div>
		</div>
	</section>


	<!-- footer section -->
	<footer class="parallax-section">
		<div class="container">
			<div class="row">
				<div class="col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="0.6s">
					<h2 class="heading">Contact Info.</h2>
					<div class="ph">
						<p>
							<i class="fa fa-phone"></i> Phone
						</p>
						<h4>(848) 445-2001</h4>
					</div>
					<div class="address">
						<p>
							<i class="fa fa-map-marker"></i>Location
						</p>
						<h4>96 Frelinghuysen Rd, Piscataway, NJ </h4>
					</div>
				</div>
				<div class="col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="0.6s">
					<h2 class="heading">Contributors</h2>
					<p>
						<h4>Govind Upman</h4>
					</p>
					<p>
						<h4>Li Ya Guan</h4>
					</p>
				</div>
				<div class="col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="0.6s">
					<h2 class="heading">More Resources</h2>
					<ul class="social-icon">
						<li><a href="https://drive.google.com/open?id=1wy5UXHAtjYoLIGpwccOPTUsHOr7sX7o1" class="fa fa-video-camera wow bounceIn"
							data-wow-delay="0.3s"></a></li>
						<li><a href="https://github.com/upmangaurav/FoodZoneRec" class="fa fa-github wow bounceIn"
							data-wow-delay="0.9s"></a></li>
						<li><a href="https://www.cs.rutgers.edu/" class="fa fa-university wow bounceIn"
							data-wow-delay="0.6s"></a></li>
					</ul>
				</div>
			</div>
		</div>
	</footer>


	<!-- copyright section -->
	<section id="copyright">
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-sm-12">
					<h3>FoodZoneRec</h3>
					<p>
						Copyright © Rutgers University | Design: <a rel="nofollow"
							href="http://www.tooplate.com" target="_parent">Tooplate</a>
					</p>
				</div>
			</div>
		</div>
	</section>

	<!-- JAVASCRIPT JS FILES -->
	<script src="static/js/jquery.js"></script>
	<script src="static/js/bootstrap.min.js"></script>
	<script src="static/js/jquery.parallax.js"></script>
	<script src="static/js/smoothscroll.js"></script>
	<script src="static/js/nivo-lightbox.min.js"></script>
	<script src="static/js/wow.min.js"></script>
	<script src="static/js/custom.js"></script>

</body>
</html>